<div *ngIf="recipe">
  <h2>{{recipe.name | uppercase}} Details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="recipe.name" placeholder="name">
    </label>
    <h3>Ingredients: </h3>
    <p *ngFor='let ingredient of recipe.ingredients'>{{ingredient}}
      <br>
      <input type="text" [(ngModel)]="changeIngredient">
      <button (click)="editIngredient(ingredient, changeIngredient, recipe)">Edit</button> 
      <br>
      <button (click)="removeIngredient(ingredient, recipe)">Remove</button>
    </p>

    <label>Add Ingredient to this Recipe:</label>
    <input type="text" [(ngModel)]="newIngredient">
    <button (click)="addIngredient(newIngredient, recipe)">Add</button>

    <h3>Instructions:</h3>
    <ol>
      <li *ngFor='let instruction of recipe.instructions'>{{instruction}} <button (click)="removeInstruction(instruction, recipe)">Remove</button></li>
    </ol>
    <label>Add Instruction to this Recipe:</label>
    <input type="text" [(ngModel)]="newInstruction">
    <button (click)="addInstruction(newInstruction, recipe)">Add</button>
  </div>
</div>
